<h1>New Entry for <%= @journal.name %></h1>

<%= form_for [@journal, @entry] do |f| %>
  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: "form-control" %>
  </div>

  <%= f.submit "Create Entry", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Journal", @journal, class: "btn btn-secondary" %>
