<h1><%= @journal.name %></h1>

<ul>
  <% @journal.entries.each do |entry| %>
    <li>
      <%= entry.text %>
      <%= link_to "Show", [@journal, entry] %>
    </li>
  <% end %>
</ul>

<%= link_to "New Entry", new_journal_entry_path(@journal), class: "btn btn-primary" %>
<%= link_to "Edit Journal", edit_journal_path(@journal) %>
<%= link_to "Delete Journal", @journal, data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
