<h1><%= @journal.name %></h1>

<%= turbo_frame_tag dom_id(@journal, :entries) do %>
  <ul>
    <% @journal.entries.each do |entry| %>
      <%= render partial: "entry", locals: { entry: entry, journal: @journal } %>
    <% end %>
  </ul>
<% end %>

<%= link_to "New Entry", new_journal_entry_path(@journal), class: "btn btn-primary" %>
<%= link_to "Edit Journal", edit_journal_path(@journal) %>
<%= link_to "Delete Journal", @journal, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= turbo_frame_tag dom_id(@journal, :new_entry) do %>
  <%= render partial: "form", locals: { journal: @journal, entry: @entry } %>
<% end %>
